# Imports

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from imblearn.under_sampling import RandomUnderSampler as underSampler
from sklearn.preprocessing import StandardScaler as scaler

In [49]:
data = pd.read_csv("data/magic04.data",header=None)
data.describe()

,0,1,2,3,4,5,6,7,8,9
count,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000
mean,53.250154,22.180966,2.825017,0.380327,0.214657,-4.331745,10.545545,0.249726,27.645707,193.818026
std,42.364855,18.346056,0.472599,0.182813,0.110511,59.206062,51.000118,20.827439,26.103621,74.731787
min,4.283500,0.000000,1.941300,0.013100,0.000300,-457.916100,-331.780000,-205.894700,0.000000,1.282600
25%,24.336000,11.863800,2.477100,0.235800,0.128475,-20.586550,-12.842775,-10.849375,5.547925,142.492250
50%,37.147700,17.139900,2.739600,0.354150,0.196500,4.013050,15.314100,0.666200,17.679500,191.851450
75%,70.122175,24.739475,3.101600,0.503700,0.285225,24.063700,35.837800,10.946425,45.883550,240.563825
max,334.177000,256.382000,5.323300,0.893000,0.675200,575.240700,238.321000,179.851000,90.000000,495.561000

In [50]:
y = data[10]
x = data.drop(columns=10)

In [51]:
y.value_counts()

10
g    12332
h     6688
Name: count, dtype: int64

In [52]:
underSampler = underSampler()
x, y = underSampler.fit_resample(x,y)

In [53]:
y.value_counts()

10
g    6688
h    6688
Name: count, dtype: int64

In [54]:
x = np.array(x)
y = np.array([1 if c == "g" else 0 for c in y])

In [55]:
scale = scaler()
x = scale.fit_transform(x)
pd.DataFrame(x).describe()

,0,1,2,3,4,5,6,7,8,9
count,1.337600e+04,1.337600e+04,1.337600e+04,1.337600e+04,1.337600e+04,13376.000000,1.337600e+04,1.337600e+04,1.337600e+04,1.337600e+04
mean,-3.399726e-17,1.189904e-16,5.864527e-16,1.625494e-16,2.347936e-16,0.000000,-1.699863e-17,1.168656e-17,-1.699863e-16,-8.499315e-18
std,1.000037e+00,1.000037e+00,1.000037e+00,1.000037e+00,1.000037e+00,1.000037,1.000037e+00,1.000037e+00,1.000037e+00,1.000037e+00
min,-1.128199e+00,-1.133702e+00,-1.902229e+00,-1.979338e+00,-1.904413e+00,-6.862558,-6.013491e+00,-8.882795e+00,-1.159308e+00,-2.532370e+00
25%,-6.933596e-01,-5.717378e-01,-7.285225e-01,-7.896886e-01,-7.787361e-01,-0.254618,-3.961624e-01,-4.854058e-01,-8.943190e-01,-6.920676e-01
50%,-3.949299e-01,-3.100259e-01,-1.873600e-01,-1.279292e-01,-1.544483e-01,0.158778,1.257474e-01,3.565719e-02,-2.998833e-01,-2.380898e-02
75%,3.945039e-01,1.112694e-01,5.853445e-01,6.755584e-01,6.330359e-01,0.474956,4.861994e-01,4.664136e-01,7.865768e-01,6.299586e-01
max,5.883661e+00,1.111654e+01,5.239362e+00,2.789557e+00,4.106026e+00,8.881340,4.095151e+00,7.735359e+00,2.170118e+00,3.924211e+00